/* Google Fonts */
/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700');*/

body {
	font-family: "Source Sans Pro", sans-serif;
	background: #f1f6f7;
	color: #51838d;
}

.App {
  text-align: center;
}

.menubar {
  /*width: 100%;*/
  background-color: orange;
  height: 75px;
  padding: 20px;
  color: white;
  position: fixed;
  bottom: 100;
  right: 100;
  width: 300px;
  border: 2px solid grey;
  z-index: 1 !important;
}

pageheader h2 {
    text-align: center;
    color: red;
    font-weight: bold;
}

.icon-footer {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 60px;
  padding: 5px;
}

.icon-skill {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 64px;
  width: 64px;
  padding: 5px;
}

.icon-portfolio {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 242px;
  width: 200px;
  padding: 5px;
  /*display: block;*/
  margin: 2 auto;
  border: 2px solid grey;
  border-radius: 5%;
}

.navi{
	display: block !important;
	margin: 0 auto !important;
	width: 100% !important;
	background: rgba(48,62,78, 0.8) !important;
	position: fixed !important;
	top: 0 !important;
	/*z-index: 1 !important;*/
}

.nav-list{
	text-align: center !important;
	list-style-type: none !important;
	width: 100% !important;
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	justify-content: center;
}

.nav-item{
	display: inline-block !important;
	padding-top: 10px;
	margin: 10px !important;
	color: #f5f5f5 !important;
	/*font-size: 15px !important;*/
  font-size: 1.5em;
}

.nav-link:hover, .nav-link:focus{
	color: #blue !important;
}

.footer {
  background-color: lightblue;
  height: 75px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
