.App {
  text-align: center;
}

.header {
  background-color: tan;
  height: 75px;
  padding: 20px;
  color: white;
}

.icon-footer {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 60px;
  padding: 5px;
}

.icon-skill {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
  padding: 5px;
}

.icon-portfolio {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 250px;
  padding: 5px;
}

.navi{
	display: block !important;
	margin: 0 auto !important;
	width: 100% !important;
	background: rgba(48,62,78, 0.8) !important;
	position: fixed !important;
	top: 0 !important;
	z-index: 1 !important;
}

.nav-list{
	text-align: center !important;
	list-style-type: none !important;
	width: 100% !important;
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	justify-content: center;
}

.nav-item{
	display: inline-block !important;
	padding-top: 10px;
	margin: 10px !important;
	color: #f5f5f5 !important;
	/*font-size: 15px !important;*/
  font-size: 1.5em;
}

.nav-link:hover, .nav-link:focus{
	color: #blue !important;
}

.footer {
  background-color: lightblue;
  height: 75px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
